@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Cormorant+Garamond:wght@400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Cormorant Garamond', serif;
background:
linear-gradient(rgba(20,20,20,0.85),rgba(20,20,20,0.85)),
url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");

background-size:cover;
background-position:center;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:#2b2b2b;
}

#root{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}